<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    
        <add key="ScaledFighterCombatTraits" value="Durability,HandSpeed,FootWork,Accuracy,Defense,RingGen,Stamina" />
        <add key="UniformFighterCombatTraits" value="Aggression" />

    </appSettings>
</configuration>
