<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ScaledFighterCombatTraits" value="Durability,HandSpeed,FootWork,Accuracy,Defense,RingGen,Stamina,Power" />
        <add key="UniformFighterCombatTraits" value="Aggression" />
      <add key="log4net.Internal.Debug" value="true"/>
    </appSettings>

</configuration>